* {
    margin: 5px;
}

body {
    background-image: url("https://cdn.sketchbubble.com/pub/media/catalog/product/optimized1/4/1/41e10cc3eb0fa2f01cb0c01f17e71064d3338237122605943221bcb1263fa761/indian-culture-theme-slide1.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #2c3e50;
    color: black; 
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-size: 20px;
    font-weight: bold;

}

h1, h2,{
    color: black;
}

h3{
    color: black;
    font-size: 30px;
}

a {
    color: black; 
    text-decoration: none;
}

header {
    background-color: crimson;
    padding: 20px;
    border-radius: 100px;
}

h1 {
    font-size: 24px;
    margin: 0;
}


nav {
    background-color: ; 
    padding: 10px;


}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 10px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 35px;
    margin: 0;
}

p {
    margin: 0;
}

select {
    width: 200px;
}

div {
    background-color: rgba(52, 73, 94, 0);
    padding: 20px;
    margin-bottom: 20px;
}

h3 {
    font-size: 30px;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    box-shadow: 10px 10px 5px black;
}


footer {
    background-color: rgba(52, 73, 94, 0);
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: #ecf0f1;
}

img{
    width:  330px;
    height: auto;
}

.main{
    background-color: transparent;
    text-align: center;
    padding: 20px;
    margin: 20px;
    font-size: 45px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.navi{
    background-color: transparent;
    text-align: center;
    /* padding: 20px;
    margin: 20px; */
    font-size: 20px;
    color: white;
    display:inline-flex;
    justify-content: space-between;
}
.iconic{
    text-align: center;
}
.iconic{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #f2f2f2; */
}